


html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#centerinfo {
 	overflow-y: scroll;
}

#statnum {
	margin-left: 20px;
	margin-top: 5px;
}

.danger {
	color:red;
}

#textstats {
	position:absolute;
	margin-top:20px;
	margin-left:10px;
}

#buttonwrapper {
  	margin:0 auto;
  	width:566px;
  	padding:5px;
}

#summonbuttons {
    margin:0 auto;
  	width:556px;
  	margin-top:35px;
}

#bosslevel{
	position:absolute;
	margin-left:405px;
	margin-top:167px;
}

.ui-effects-wrapper {
    display:inline;
    position:absolute;
    }


#desc {
	position:absolute;
	display:none;
	border: 2px solid #333;
}

.spelldesc {
	padding-left:10px;
	background-color:#24303E;
}

.barnum {
	position: absolute;
}

.selected {
	outline: 5px solid green;
}

#playerstats {
	padding: 5px;
	width: 222px;
	height: 222px;
	background-color: #24303E;
	border: 0px solid #333;
}

#stattable {
	border: 0px solid #333;
	background-color: #24303E;
}

#damage, #dodge, #critical, #lifesteal {
	float: right;
	padding-right: 5px;
}

#health, #mana, #heal, #pow {
	float: left;
	padding-left: 5px;
}

#spelldesc {
	display: none;
	position: absolute;
	width: 1000px;
	height: 600px;
	background-color: #24303E;
	border: 0px solid #333;
}

.statnum {
	width: 90px;
	height: 30px;
}

#showdiv {
	border: solid 5px #222;
	width: 100px;
	height: auto;
	position: absolute;
	background-color: #24303E;
	display: none;
}

.line {
	height: 18px;
}

p {
	height: 11px;
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 
	-1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 
	1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 
	-2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 
	2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, 
	-1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, 
	-2px -1px 0 #000;
	font-weight: bold;
}

#stats1 {
	width: 20%;
	height: 100%;
	padding-top: 10px;
}

#stats2 {
	width: 20%;
	height: 100%;
	float: right;
	text-align: right;
	padding-top: 10px;
}

#boxy {
	width: 864px;
	height: 164;
	background: url("http://res.cloudinary.com/treborx555/image/upload/v1472066255/texture_xhoaxc.png");
	border: 10px solid #333;
	margin-left: 46px;
	margin-top: 125px;
	padding-top: 5px;
}

#box {
	margin-top: 5px;
	width: 100%;
	height: 250px;
}

#screen {
	width: 865px;
	height: 300px;
	background-color: #24303E;
	border: 10px solid #333;
	position: block;
	float: left;
	background-size: 100px;
}

#inventory {
	float : left;
}

#info {
	height: 380px;
	width: 224px;
	background-color: #24303E;
	border: 5px solid #333;
	padding-left: 5px;
	float: left;
	margin-left: 82px;
	border: 10px solid #333;
}

.statslot {
	border-width: 1px;
	border-style: solid;
	border-color: #BF942C;
	width: 30px;
	height: 30px;
	background-color: #8F5D38;
	display: fixed;
}

.spellslot {
	border: 3px solid #333;
	border-right: 10px solid;
	background-color: #24303E;
	width: 60px;
	height: 60px;
	float: left;
}

.disease {
	color: green;
}

.manarestore {
	color: yellow;
}

.Pow {
	color: red;
}

.Heal {
	color: blue;
}

#spells {
	background-color: #24303E;
	border-left: 10px solid #333;
	border-right: 10px solid #333;
	top: 330px;
	width: 865px;
	margin-left: 240px;
	height: auto;
	position: absolute;
}

#spellslots {
	margin: 0 auto;
}

#infodiv {
	position: absolute;
	left: 822px;
	top: -300px;
}

body {
	padding: 10px;
	background-color: transparent;
	width: 100%;
	height: 100vh;
	max-height: 765px;
	max-width: 1366px;
	margin: 0 auto;
}

html {
	background: url("http://placesyoullgo.s3-us-west-2.amazonaws.com/wp-content/uploads/2015/01/30-Most-Terrifying-Places-00.jpg");
	background-size: 100vw 100vh;
}

#powerleveldiv {
	position: absolute;
	margin-top: 370px;
	margin-left: 95px;
	width: 210px;
	height: 50px;
}

table {
	background-color: #333;
	border: 10px solid #333;
}

#battle {
	width: 100%;
	height: 300px;
}

#boss {
	margin: 0 auto;
	height: 150px;
	width: 125px;
	outline: 0px solid white;
	border: 5px solid #24303E;
	background-color: #24303E;
	margin-top: 20px;
	margin-bottom: 35px;
}

#bosshptext {
	padding-top: 10px;
}

#bosshpbar {
	width: 100%;
	height: 40px;
	background: url("http://res.cloudinary.com/treborx555/image/upload/v1472309979/red_ukpo3h.jpg");
	float: left;
}

#totalbosshpbar {
	width: 845px;
	height: 40px;
	background-color: black;
	outline: 4px solid darkred;
}

#totalplayerhpbar {
	width: 845px;
	height: 25px;
	background-color: black;
}

#totalplayermanabar {
	width: 845px;
	height: 25px;
	background-color: black;
}

#playerhpbar {
	width: 100%;
	height: 25px;
	background: url("http://res.cloudinary.com/treborx555/image/upload/v1472309979/red_ukpo3h.jpg");
	background-size: 150px;
	border: 5px solid #333
	top:0;
}

#playermanabar {
	width: 100%;
	height: 25px;
	background: url("http://res.cloudinary.com/treborx555/image/upload/v1472309979/dblue168_zjpw0l.jpg");
	background-size: 150px;
	border: 5px solid #333;
}

#leftinfo {
	height: 180px;
	width: 300px;
	border: 5px solid #333;
	overflow-y: scroll;
	margin-top: 15px;
	float: left;
}

::-webkit-scrollbar {
	display: none;
}

#rightinfo {
	height: 180px;
	width: 300px;
	border: 5px solid #333;
	overflow-y: scroll;
	float: right;
	margin-top: 15px;
	text-align: right;
}

.oncooldown {
	opacity: 0.1;
}

#spellchild {
	margin: 0 auto;
	border: solid 2px #BF942C;
}

#character {
	position: absolute;
	margin-top: 380px;
	margin-left: 84px;
	width: 225px;
}

.spellsprite {
	background-image: url("http://res.cloudinary.com/treborx555/image/upload/v1472247353/spritesheet_ne1oxv.png");
	background-repeat: no-repeat;
	display: block;
}

.-basic {
	width: 60px;
	height: 60px;
	background-position: 0 0;
}

.-disease {
	width: 60px;
	height: 60px;
	background-position: -300px 0;
}

.-heal {
	width: 60px;
	height: 60px;
	background-position: -180px 0; 
}

.-manarestore {
width: 60px;
	height: 60px;
	background-position: -420px 0;
}

.statsprite {
	background: url("http://res.cloudinary.com/treborx555/image/upload/v1472414022/spritesheet_9_vyyt5q.png");
	background-repeat: no-repeat;
	display: block;
}

.-health {
	width: 30px;
    height: 30px;
    background-position: 0 -60px;
}

.-mana {
    width: 30px;
    height: 30px;
    background-position: -90px 0;
}

.-dodge {
    width: 30px;
    height: 30px;
    background-position: -30px 0;
}

.-critical {
    width: 30px;
    height: 30px;
    background-position: -60px -60px;
}

.-heal-2 {
    width: 30px;
    height: 30px;
    background-position: -30px -90px;
}

.-pow {
    width: 30px;
    height: 30px;
    background-position: 0 0;
}

.-lifesteal {
    width: 30px;
    height: 30px;
    background-position: 0 -30px;
}

.-damage {
    width: 30px;
    height: 30px;
    background-position: -60px 0;
}

.mobsprites {
	background-image: url("http://res.cloudinary.com/treborx555/image/upload/v1472288881/spritesheet_7_guocsq.png");
	background-repeat: no-repeat;
	display: block;
}

.boss1 {
	width: 125px;
	height: 150px;
	background-position: -125px -150px;
}

.boss2 {
	width: 125px;
	height: 150px;
	background-position: -250px -150px;
}

.boss3 {
	width: 125px;
	height: 150px;
	background-position: 0 -300px;
}

.boss4 {
	width: 125px;
	height: 150px;
	background-position: -125px -300px;
}

.boss5 {
	width: 125px;
	height: 150px;
	background-position: -250px -300px;
}

@media screen and (max-width: 1360px) {
  body {
      -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
      zoom: 0.9; /* Other non-webkit browsers */
      zoom: 90%; /* Webkit browsers */
  }
}


@media screen and (max-width: 1230px) {
  body {
      -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
      zoom: 0.8; /* Other non-webkit browsers */
      zoom: 80%; /* Webkit browsers */
  }
}

@media screen and (max-width: 1155px) {
  body {
      -moz-transform: scale(0.7, 0.7); /* Moz-browsers */
      zoom: 0.7; /* Other non-webkit browsers */
      zoom: 70%; /* Webkit browsers */
  }
}

@media screen and (max-width: 1050px) {
  body {
      -moz-transform: scale(0.6, 0.6); /* Moz-browsers */
      zoom: 0.6; /* Other non-webkit browsers */
      zoom: 60%; /* Webkit browsers */
  }
}
@media screen and (max-width: 950px) {
  body {
      -moz-transform: scale(0.55, 0.55); /* Moz-browsers */
      zoom: 0.55; /* Other non-webkit browsers */
      zoom: 55%; /* Webkit browsers */
  }
}
@media screen and (max-width: 850px) {
  body {
      -moz-transform: scale(0.45, 0.45); /* Moz-browsers */
      zoom: 0.45; /* Other non-webkit browsers */
      zoom: 45%; /* Webkit browsers */
  }
}





















